.footer {
	@apply text-brown;

	svg {
		fill: theme('colors.brown');

		&.logo {
			width: 65px;
		}
	}

	.footer-bottom {
		position: relative;
		width: 100%;

		&:before, &:after {
			content: '';
			position: absolute;
			background-color: theme('colors.brown');
			width: 45px;
			height: 1.5px;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}

		h4 {
			position: relative;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 500;

			&:first-child {
				margin-left: 55px;

				&:before {
					left: -12px;
				}
			}

			&:last-child {
				margin-right: 55px;

				&:after {
					right: -12px;
				}
			}

			&:first-child:before, &:last-child:after {
				content: "◆";
				position: absolute;
				top: -2px;
			}
		}
	}
}