.App {
    display: flex;
    flex-direction: column;
}

.bg-beige {
    display: flex;
    flex-direction: column;
}

#homepage {
    font-family: 'DM Serif Display', serif;
    position: relative;
    z-index: 2;

    #hero-banner {
        margin-top: 200px;

        // &::before{
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100vw;
        //     height: 100%;
        //     background-image: url('/assets/images/homepage/hero-banner.jpg');
        //     object-fit: cover;
        //     background-position: center center;
        //     max-height: 120vh;
        //     z-index: -2;
        // }

        // &::after{
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100vw;
        //     height: 100%;
        //     background-color: black;
        //     max-height: 120vh;
        //     opacity: .3;
        //     z-index: -1;
        // }

        #main-title {
            font-weight: bold;
            color: transparent;
            line-height: .75;
            mix-blend-mode: hard-light;
            margin-top: 10vh;
            text-align: center;
            -webkit-text-stroke: 1px #f7eee5;
            letter-spacing: 2px;
            opacity: .95;
            cursor: default;

            .sub-title {
                color: #f7eee5;
                -webkit-text-stroke: 0px #f7eee5;
                transform: scale(1.1);
                font-size: 10rem;
                mix-blend-mode: hard-light;
                pointer-events: none;

                -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
                -webkit-mask-size: 200%;
                animation: shine 9s infinite;

                @media (max-width: 600px) {
                    font-size: 80px;
                }
            }
        }
    }

    #bloc-map {
        position: relative;
        z-index: 2;
        max-width: 900px;
        margin: 0 auto;
        // background-image: url('/assets/images/topo-lines.svg');

        .earth-visual {
            opacity: .9;
            height: 350px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 600px) {
                height: 290px;
            }

            img {
                max-width: none;
                width: 115%;
                height: auto;
                filter: drop-shadow(0 0 15px rgba(4, 0, 65, 0.4));

                @media (max-width: 600px) {
                    width: 135%;
                    margin-top: 20px;
                }
            }

            .earth-visual-coords {
                display: flex;
                justify-content: space-around;

                .coords {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #7B6253;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        background: #7B6253;
                        top: 65px;
                        height: 160px;
                        width: 1.5px;
                    }

                    &:after {
                        content: "◆";
                        color: #7B6253;
                        position: absolute;
                        top: 50px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #bloc-popular {
        background-color: white;
        background-image: url('/assets/images/grid-lines.png');
        background-blend-mode: hard-light;
    }

    .diamond-decoration {
        position: relative;

        .diamond {
            font-size: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @apply border-beige text-beige;

            &:after {
                content: "";
                height: 20px;
                width: 20px;
                position: absolute;
                border: 1px solid;
                transition: 0.3s background-color;
                -webkit-transition: 0.3s background-color;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                animation: pulse 10s infinite ease-in-out;

                @apply border-beige;
            }
        }
    }
}

#hero-video-container {
    position: absolute;
    // z-index: -3;
    // transform: scale(2);
    width: 100%;

    video {
        min-width: 100vw;
        min-height: 865px;
        max-height: 865px;
        max-width: none;
        object-fit: cover;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        max-height: 865px;
        opacity: .4;
    }
}

@keyframes pulse {
    0% {
        transform: rotate(45deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(1.2);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}