
.notification {
    position: absolute;
    bottom: 25px;
    right: 25px;
    flex-direction: column;
    align-items: center;
    animation: revealRight 0.666s ease 0.5s forwards;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    clip-path: inset(100% 0% 0 10px);
    display: flex;
    font-size: 1em;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: 0.5px;
    text-align: center;
    z-index: 1;

    p{
        padding: 10px 25px;
    }
    
    &.is-visible {
        animation: revealRight 0.666s ease 0.5s forwards;
    }
    
    &-glass {
        clip-path: inset(5px);
        filter: blur(8px);
        height: 100%;
        left: 0;
        object-fit: cover;
        opacity: 0.9;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    &-body {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 1.2em 1.5em;
        position: relative;
        width: 100%;
        z-index: 1;
        
        &.column {
            flex-direction: column;
            
            .notification-icon {
                margin: 0 auto 0.5em;
            }
        }
        
        &-bg {
            height: 100%;
            object-fit: cover;
            position: absolute;
            width: 100%;
            z-index: -1;
            
            &.contain {
                object-fit: contain;
            }
            
            &.cover {
                object-fit: cover;
            }
            
            &.right {
                object-position: right center;
                & + .notification-body-inner {
                    padding-right: 50px;
                }
            }
            
            &.left {
                object-position: left center;
                & + .notification-body-inner {
                    padding-right: 50px;
                }
            } 

        }
        
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        &-text {
            &.large {
                font-size: 30px;
            }
        }
    }
    
    &-icon {
        aspect-ratio: 1;
        height: 100%;
        margin: 0 1em 0 0;
        position: relative;
        width: 36px;
        z-index: 1;
    }

    .bar-container{
        width: 100%;
        
        .bar{
            background: #291d11;
            height: 2px;
        }
    }

}

@keyframes revealRight {
    from {
        clip-path: inset(0% 0% 0% 100% 0 10px);
    }
    to {
        clip-path: inset(0% 0% 0 10px);
    }
}