
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700;900&display=swap');

// ANCHOR Imports

@import url('_header.scss');
@import url('_footer.scss');
@import url('_homepage.scss');
@import url('_passport.scss');
@import url('_login.scss');
@import url('_interactive-map.scss');
@import url('_map.scss');

// ANCHOR Scrollbar

* {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: thin;
	scrollbar-color: #867065 white;
}

body{
	overflow-x: hidden;
	font-family: 'DM Serif Display', serif;
}

p {
	color: theme('colors.black');
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: .5px;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border: transparent;

	@apply bg-brown;
}

// ANCHOR Titres

.title-container{
	display: flex;
	margin: 25px 0;
	position: relative;

	@apply text-brown;
	
	&:before{
		content: "";
		position: absolute;
		left: 0;
		width: 100px;
		height: 1.5px;
		top: 16px;
			
		@media (max-width: 600px) {
			width: 40px;
		}

		@apply bg-brown;
	}
	
	h2, h1{
		margin-left: 115px;
		display: flex;
		text-transform: uppercase;
		letter-spacing: 2.5px;

		&.h2{
			font-size: 36px;
			line-height: 32px;
		}

		&.h1{
			font-size: 42px;
			line-height: 35px;

			@media (max-width: 600px) {
				font-size: 36px;
				line-height: 32px;
			}
		}
			
		@media (max-width: 600px) {
			margin-left: 55px;
		}
	
		&:before{
			content: "◆";
			position: absolute;
			left: 90px;
			font-size: 15px;
			top: 0;
			height: 100%;

			@apply text-brown;
	
			@media (max-width: 600px) {
				left: 35px;
			}
		}
	}
}

.title-centered{
	padding: 15px 0;
	h2{
		font-size: 36px;
		text-align: center;
		line-height: 32px;
		text-transform: uppercase;
	}
}

.subtitle {
	color: theme('colors.brown');
	font-size: 20px;
	margin-bottom: 10px;
}

// ANCHOR Buttons

.btn{
	position: relative;
	display: flex;
	align-items: center;
	padding: 15px 25px 15px 0;
	white-space: nowrap;

	@media (max-width: 600px) {
		padding: 10px 20px 10px 0;
	}

	@apply text-brown bg-beige;
	
	&:not(.btn-icon):before{
		content: "";
		position: absolute;
		left: 0;
		width: 5vw;
		height: 1.5px;
		top: 25px;
			
		@media (max-width: 600px) {
			width: 20px;
		}

		@media (min-width: 950px) {
			width: 50px;
		}

		@apply bg-brown;
	}

	.btn-text{
		margin-left: 8vw;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1px;

		@media (max-width: 600px) {
			margin-left: 35px;
		}

		@media (min-width: 950px) {
			margin-left: 85px;
		}

		&:before{
			content: "◆";
			position: absolute;
			left: 4.8vw;
			font-size: 14px;
			line-height: 24px;

			@apply text-brown;

			@media (max-width: 600px) {
				left: 15px;
			}

			@media (min-width: 950px) {
				left: 47px;
			}
		}
	}

	&.btn-dark{
		@apply text-beige bg-brown;
	
		&:before{
			@apply bg-beige;
		}

		.btn-text{
			&:before{
				@apply text-beige;
			}
		}
	}

	&.btn-outline{
		background: none;
		border: 2px solid #7B6253;

		@apply border-brown;
	}

	&.btn-icon {
		justify-content: center;
		padding: 7.5px;

		svg {
			font-size: 20px;
		}
	}
}

.btn-round{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 30px;
	border: 1px solid;
	border-radius: 50%;
	transition: all .2s;

	@apply text-beige border-beige;

	&:hover{
		@apply bg-beige text-dark-brown;
	}
}

// ANCHOR DestinationCard

.destination-card, .feed-card{
	.card-img {
		border-right: 2px solid;
		overflow: hidden;

		@apply border-brown;

		img{
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 175px;
			height: 175px;
			object-fit: cover;
		}
	}

	.card-text{
		h3{
			letter-spacing: 1px;
		}

		p{
			@apply text-brown;
		}
	}
}

.voyage-tile-card{
	position: relative;
	width: 333px;
	height: 333px;
	max-width: 333px;
	max-height: 333px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.card-img-bg{
		position: absolute;
		width: 333px;
		height: 333px;
		object-fit: cover;
		top: 0;
		left: 0;
	}

	.card-text{
		background-color: rgba(255, 255, 255, .8);
		z-index: 5;
		width: 100%;
		position: relative;
	}
}

// ANCHOR Form

form {
	.form-field {
		display: flex;
		flex-direction: column;

		label {
			@apply text-brown text-lg;
			margin-bottom: 3px;
			letter-spacing: 1px;
		}

		input, select {
			background-color: theme('colors.white');
			padding: 10px 20px;
			font-size: 14px;

			&:focus {
				outline: none;
			}

		}
	}
}

// ANCHOR Divider

.divider {
	width: 75%;
	height: 1px;
	margin: 35px auto 25px;

	@apply bg-brown;
}